<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Places</title>
    <link rel="icon" type="image/png" href="images/icon.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="index.html">
                <div class="logo-div">
                    <img src="./images/logo.png" class="logo" alt="logo">
                </div>
            </a>
            <div class="nav-links">
                <a href="index.html" id="home-link" class="home-button">
                    Home
                </a>
                <a href="login.html" id="login-link" class="login-button">
                    Login
                </a>
                <a href="index.html" id="logout-link" class="logout-button">
                    Logout
                </a>
            </div>
        </nav>
    </header>
    <main>
        <h1>Available Places</h1>
        <section id="filter">
            <label for="price-filter">Max Price:</label>
            <select id="price-filter">
                <!-- Options will be populated dynamically -->
                <option value="All">All places</option>
                <option value="Cheap">Cheap places</option>
                <option value="Expensive">Expensive places</option>
            </select>
        </section>
        <section id="places-list">
            <!-- List of places will be populated dynamically -->
            <article class="place-card">
                <h2>Cozy cabin</h2>
                <section class="place-meta">
                    <p>Price per night: $100</p>
                </section>
                <section class="place-description">
                    <p>Some comments bout this cozy place</p>
                </section>
                <a href="place.html" class="details-button">View details</a>
            </article>
            <article class="place-card">
                <h2>Beach house</h2>
                <section class="place-meta">
                    <p>Price per night: $200</p>
                </section>
                <section class="place-description">
                    <p>Some comments bout this beachy place</p>
                </section>
                <a href="place.html" class="details-button">View details</a>
            </article>
            <article class="place-card">
                <h2>Modern apartment</h2>
                <section class="place-meta">
                    <p>Price per night: $70</p>
                </section>
                <section class="place-description">
                    <p>Some comments bout this modern place</p>
                </section>
                <a href="place.html" class="details-button">View details</a>
            </article>
            <article class="place-card">
                <h2>Shitty place</h2>
                <section class="place-meta">
                    <p>Price per night: $15</p>
                </section>
                <section class="place-description">
                    <p>Some comments bout this shitty place</p>
                </section>
                <a href="place.html" class="details-button">View details</a>
            </article>
            <article class="place-card">
                <h2>Ok place</h2>
                <section class="place-meta">
                    <p>Price per night: $50</p>
                </section>
                <section class="place-description">
                    <p>Super long text to desscribe that this place was just ok.
                    Not that great, not bad, just ok.
                    The kitchen was ok. The bedroom was ok. The living room  was ok.
                    The TV was ok.
                    <br>
                    And even more text to prove the overflox is working properly. However, it needs even more text, maybe the box is too big now.</p>
                </section>
                <a href="place.html" class="details-button">View details</a>
            </article>
        </section>
    </main>
    <footer>
        <a href="https://tenor.com/bu0cV.gif" id="all-rights-reserved">
            <img src="./images/logo.png" alt="Logo" id="footer-logo">&copy; 2025 HBnB Evolution. All rights reserved.
        </a>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>
