/* styling for header and navigation links */
header {
    /* background: linear-gradient(90deg, var(--theme-primary-color) 60%, #7a1f1f 100%); */
    background-color: var(--theme-primary-color);
    color: var(--theme-primary-text-color);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px var(--theme-box-shadow);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
}

nav a:active {
    background-color: #a80000;
    box-shadow: 0 2px 8px rgba(90,0,0,0.35);
    transform: translateY(1px) scale(0.98);
    transition: background 0.1s, box-shadow 0.1s, transform 0.1s;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    font-size: larger;
}

.nav-links a:active {
    background-color: #a80000;
    box-shadow: 0 2px 8px rgba(90,0,0,0.35);
    transform: translateY(1px) scale(0.98);
    transition: background 0.1s, box-shadow 0.1s, transform 0.1s;
}

.nav-links #login-link, .nav-links #logout-link {
    display: none;
}

.logo-div {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    background-color: var(--theme-background-color);
}

.logo {
    height: 100%;
    width: auto;
    display: block;
    background-color: var(--theme-background-color);
}
